
VITE_FRONDEND_URL=your_frontend_url_here
# 🔐 AUTH API URL
VITE_AUTH_API_URL=your_auth_api_url_here

# 👤 PRIVATE CLIENT API URL
VITE_PRIVATE_API_URL=your_client_api_url_here


# =================== #
# 🔒 GOOGLE AUTH CONFIGURATION #
# =================== #
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRECT=your_secrect_key